---
import { redirects } from "../../../data/redirects";

export function getStaticPaths() {
    return redirects.map(({ name, target }) => ({
        params: { name },
        props: { target },
    }));
}

const { target } = Astro.props;
---

<body>
    <p>Redirecting to <a href={target}>{target}</a>...</p>

    <script is:inline define:vars={{ target }}>
        if (target) {
            window.location.href = target;
        }
    </script>
</body>
