---
import mysql from 'mysql2/promise';

export async function getStaticPaths() {
    // Create a connection pool
    const connection = await mysql.createConnection({
        host: 'localhost',
        user: 'dba',
        password: 'dav',
        database: 'www_config',
    });

    try {
        const [rows] = await connection.query('SELECT name, target FROM redirects');

        return rows.map(row => ({
            params: { name: row.name },
            props: { target: row.target }
        }));

    } finally {
        connection.end();
    }
}

const { target } = Astro.props;
---

<body>
    <p>Redirecting to <a href={target}>{target}</a>...</p>

    <script is:inline define:vars={{ target }}>
        if (target) {
            window.location.href = target;
        }
    </script>
</body>
