html {
    --message-bg-color: #fff4db;
    --message-bg-color-code: #ffffff;
    --text-color: var(--bs-body-color);
    --icon-width: 60px;
    --icon-margin: 10px;
}

body {
    background-color: var(--bg-color);
}

.content {
    /* background-image: var(--bg_img); */
    background-color: var(--bs-body-bg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    z-index: 100;
}

.container-md {
    /* background-color: var(--bg_color); */
    color: var(--text_color);
}

.container-md {
    padding-bottom: 2rem;
    /* box-shadow: 2px 0 4px 1px rgba(0, 0, 0, .2); */
}

.container-md:first-of-type {
    padding-top: 2rem;
}
