---
import Banner from '../components/Banner.astro';
import ItemCard from '../components/ItemCard.astro';
import Background from '../components/Background.astro';
import Section from '../components/Section.astro';
import Page from '../layouts/Page.astro';
---

<Page title="-- PonziDav --">
    <Banner slot="banner"></Banner>

    <Background img="/res/bg_glass.jpg">
        <Section title="Content">
            <ItemCard title="Utilities" href="utils" img="/res/html.jpg">
                Handy utilities for common tasks
            </ItemCard>
            
            <ItemCard title="Portfolio" href="portfolio" img="/res/eggsorcist.png">
                Showcase of websites I developed
            </ItemCard>
        </Section>

    </Background>

    <Background img="/res/bg_wip.jpg">
        <Section title="Works in progress">
            <ItemCard title="LensQL v1" href="lensql" img="/res/database.jpg">
                AI-powered tool for learning SQL. This old version will only be available until May 31 2025
            </ItemCard>

            <ItemCard title="LensQL v2" href="https://lensql.ponzidav.com" img="/res/database.jpg">
                AI-powered tool for learning SQL
            </ItemCard>

            <ItemCard title="GPT4CT" href="gpt4ct" img="/res/problem-decomposition.png">
                Tool for problem decomposition and learning computational thought
            </ItemCard>
        </Section>
    </Background>
</Page>
