---
import Banner from '../components/Banner.astro';
import ItemCard from '../components/ItemCard.astro';
import Navbar from '../components/Navbar.astro';
import Background from '../components/Background.astro';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="-- PonziDav --">
    <Banner></Banner>

    <Navbar></Navbar>

    <Background img="/res/bg_glass.jpg">
        <Section title="Content">
            <ItemCard title="Utilities" href="utils" img="/res/html.jpg">
                Web development utilities
            </ItemCard>
            
            <ItemCard title="Portfolio" href="portfolio" img="/res/eggsorcist.png">
                Showcase of websites I developed
            </ItemCard>
        </Section>

    </Background>

    <Background img="/res/bg_wip.jpg">
        <Section title="Works in progress">
            <ItemCard title="GPT4CT" href="gpt4ct" img="/res/problem-decomposition.png">
                Tool for problem decomposition and learning computational thought
            </ItemCard>
        </Section>

    </Background>
</Layout>
