---
interface Props {
    img: string;
	dark?: boolean;
    color?: string;
}

const { img, dark, color } = Astro.props;

const bg_img = `url(${img})`;
const text_color = dark ? 'white' : 'black';

let bg_color = color;
if (!bg_color) {
	bg_color = dark ? 'var(--bg-dark-color)' : 'var(--bg-light-color)';
} else {
	bg_color = color || 'var(--bg-light-color)';
}

---

<div class="background">
	<div class="container-md">
		<slot></slot>
	</div>
</div>

<style define:vars={{bg_img, text_color, bg_color}}>
    .background {
        background-image: var(--bg_img);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: sticky;
		z-index: 100;
    }

	.container-md {
		background-color: var(--bg_color);
		color: var(--text_color);
	}

	.container-md {
		padding-bottom: 2rem;
		/* box-shadow: 2px 0 4px 1px rgba(0, 0, 0, .2); */
	}
</style>

