---
interface Props {
	title: string;
	href: string;
	img: string;
}

const { href, title, img } = Astro.props;
---

<a href={href} class="card">
	<img class="card-img-top" src={img}>
	<div class="card-body">
		<h5 class="card-title">{title}</h5>
		<p class="card-text">
			<slot>{title}</slot>
		</p>
		<span class="btn btn-primary">Open</span>
	</div>
</a>
