---
import FooterDeviceInfo from "./FooterDeviceInfo.astro";
import FooterDonations from "./FooterDonations.astro";
import FooterSocial from "./FooterSocial.astro";



---

<div class="footer">
    <div class="container-fluid">
        <div class="center monospace">
            Website developed by Davide Ponzini.
        </div>

        <div class="center">
            <FooterSocial></FooterSocial>
        </div>

        <div class="center">
            <FooterDonations></FooterDonations>
        </div>

        <div>
            <FooterDeviceInfo></FooterDeviceInfo>
        </div>
    </div>
</div>

<style>
    .footer {
		width: 100%;
		background-color: #f4f4f4;
		padding: 12px;
		position: sticky;
		z-index: 101;
	}

	.footer a {
		color: #777;
	}

	.footer a:hover {
		color: black;
	}

	.footer > .container {
		display: block;
	}
</style>