---
interface Props {
	title: string;
}

const { title } = Astro.props;

const bg_img_path = `${import.meta.env.BASE_URL}/res/heading-border-left-2.png`;
---

<h1>{title}</h1>
<div class="row center">
	<div class="col-lg links">
		<slot></slot>
	</div>
</div>

<style define:vars={{bg_img_path: `url('${bg_img_path}')`}}>
    h1 {
		padding: 2rem 0 2rem 4rem;
		text-align: left;
		display: table;
		white-space: nowrap;
	}

	h1::after {
		content: '';
		display: table-cell;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center left;
	}

	h1::after {
		background-image: var(--bg_img_path);
	}
</style>

