---
interface Props {
	title: string;
    img: string;
    dark?: boolean;
}

const { title, img, dark = false } = Astro.props;
const bg_img = `url(${img})`
---

<div class="section">
    <div class={dark ? 'container-md dark' : 'container-md light'}>
        <h1>{title}</h1>
        <div class="row center">
            <div class="col-lg links">
                <slot></slot>
            </div>
        </div>
    </div>
</div>

<style define:vars={{bg_img}}>
    .section {
        background-image: var(--bg_img);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: sticky;
		z-index: 100;
    }

    .light {
		background-color: rgba(211, 212, 213, .8);
		color: black;
	}

	.dark {
		background-color: rgba(7, 6, 5, .8);
		color: white;
	}

    h1 {
		padding: 2rem 0 2rem 4rem;
		text-align: left;
		display: table;
		white-space: nowrap;
	}

	h1::after {
		content: '';
		display: table-cell;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center left;
	}

	.light h1::after {
		background-image: url(/res/heading-border-left-2.png);
	}

	.dark h1::after {
		background-image: url(/res/heading-border-left-2.png);
	}

    .container-md {
		padding-bottom: 2rem;
		box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .2);
	}
</style>

