--- 

---

<div class="separator"></div>

<style>
    .separator {
        min-height: 56px;
        padding: 12px;
        background-color: #212529 ;
        position: sticky;
        z-index: 150;
        text-align: center;
    }
</style>