.center {
    text-align: center;
    place-content: center;
}

.right {
    text-align: right;
}

.center-y {
    align-self: center;
}

.hidden {
    display: none!important;
}

.monospace {
    font-family: monospace;
}