---

---

<a class="social-donation" target="_blank" href="https://www.paypal.me/davideponzini95">
    <i class="fa-solid fa-martini-glass-citrus"></i>
    Buy me a drink!
    <i class="fa-solid fa-martini-glass-citrus"></i>
</a>
