---

---

<a href="https://github.com/DavidePonzini" target="_blank" class="bi bi-github social social-github"></a>
<a href="mailto:davide.ponzini95@gmail.com" target="_blank" class="bi bi-envelope-at social social-email"></a>