.right-bar {
    float: right;
    height: auto;
    width: 18%;
    margin-right: 1vh;
}

.right-bar > div {
    background-color: #bebebe;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    border-radius: .35em;
    margin-top: 1vh;
}

.right-bar label {
    width: 80%;
    margin-left: 4vh;
    text-align: left;
    font-size: 2vh;
}

.right-bar h5 {
    text-align: left;
    margin-left: 4vh;
}

.chart-icon {
    width: 16vh;
    height: 10vh;
    border: 1px solid black;
    margin: 1.5vh 0.5vh;
    border-radius: .25rem;
    cursor: pointer;
}

.right-bar > a {
    background-color: #bebebe;
}

.right-bar .charts-group {
    border: none;
}

.chart-selected {
    border-width: 2px;
}

.region-disabled {
    color: gray;
}

.year {
    display: inline-flex;
}

.year i {
    margin: 5px 25px 0;
    cursor: pointer;
}

#play-animation i {
    padding: 1vh 0;
    font-size: 4.5vh;
}

.right-bar p {
    margin-bottom: 1vh;
}