.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 12px; */
    position: sticky;
    z-index: 100;
}

.parallax:hover {
    box-shadow: inset 0px 0px 20px 12px rgba(0,0,0,0.75);
}

.center {
    text-align: center;
    place-content: center;
}

.right {
    text-align: right;
}

.center-y {
    align-self: center;
}

.hidden {
    display: none!important;
}

.monospace {
    font-family: monospace;
}