body {
    background-color: #f4f4f4;
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container-md {
    padding-bottom: 2rem;
}

.container-md.container-light {
    background-color: rgba(211, 212, 213, .8);
    color: black;
}

.container-md.container-dark {
    background-color: rgba(7, 6, 5, .8);
    color: white;
}


h1 {
    padding: 2rem 0 3rem 4rem;
    text-align: left;
    background-image: url(/res/heading-border-left-2.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.separator {
    min-height: 80px;
    padding: 12px;
    background-color: #212529 ;
    position: sticky;
    z-index: 150;
    text-align: center;
}

.card {
    display: inline-block;
    margin: 12px;
    word-wrap: normal;
    vertical-align: top;
    width: 18rem;
    color: black;
}

a.card {
    text-decoration: none;
}

.card .card-text {
    color: black;
    height: 80px;
    overflow-y: auto;
}

.card .card-img-top {
    object-fit: cover;
    height: 12rem;
}

.links {
    display: block;
}

.footer {
    width: 100%;
    background-color: #f4f4f4;
    padding: 12px;
    position: sticky;
    z-index: 101;
}

.footer a {
    color: #777;
}

.footer a:hover {
    color: black;
}

.footer > .container {
    display: block;
}

.header {
    height: 100vh;
    display: block;
    box-shadow: none;
}

.logo {
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    height: 100%;
}